// Place all the styles related to the PortfolioPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Style the button and place it in the middle of the container/image */


.container .delete {
  position: absolute;
  transform: translate(1500%, -675%);
  background-color: red;
  font-weight: bold;
  color: white;
  font-size: 14px;
  padding: 10px 10px;
  border-radius: 15px;
}

.space {
  padding-top: 25px;
}

.container .portfolio-image {
  border-style: solid;
  border-color: grey;
  border-width: 5px;
}

.container .portfolio-image:hover .delete {
  display: block;
}

.page-navigation {
}

.page-navigation .current-page {
  font-weight: bold;
  font-size: 22px;
  color: grey;
}

.page-navigation .page-links {
  color: grey;
}
